/* HEADER */
#main-nav {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#main-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#main-nav li {
}

#main-nav li.logo {
    margin-right: auto;
}

#main-nav .logo img {
    max-height: 2.5rem;
}

#main-nav a {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    color: var(--color-text-on-light);
}

#main-nav a:hover {
    background-color: var(--color-bright1-darken);
    color: var(--color-dark);
}



/* FOOTER THINGS */
footer nav ul {
    display: flex;
    flex-flow: row nowrap;
}

footer nav a {
    display: inline-block;
}

#footer-nav li {
    padding-left: 1rem;
}

#social-nav {
    margin-left: 4em;
}

#social-nav li {
    padding-left: 1em;
}


/* MAIN THINGS */

.hero {
    display: flex;
    align-items: center;
    height: 100%;
}

.profile {
    border-radius: 2000px;
    height: 100%;
    max-width: 200px;
    object-position: 80% center;
    margin-right: 4em;
}

.hero h1 {
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.flex h3,
.flex p {
    margin: 0;
}

li:nth-child(even) figure {
    order: 1;
}

figure {
    height: 100%;
}

figure img {
    border-radius: 6000px;
    height: 100%;
    width: 16rem;
    object-fit: cover;
    display: block;
}

.flex > div {
    max-width: 50%;
}