/* readable font */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* header font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');


body {
    display: grid;
    grid-template: auto 1fr auto / auto;
    gap: 1rem;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 18px;
    /* line-height: 1.4em; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', cursive;
}

h1 {
    font-size: 8em;
    font-weight: 800;
    background-color: aqua;
}

h2 {
    font-size: 6.1em;
    font-weight: 400;
}

h3 {
    font-size: 4.8em;
    font-weight: 600;
}

h4 {
    font-size: 3.8em;
    color: darkblue;
}

h5 {
    font-size: 2em;
    color: red;
}

h6 {
    font-size: .65em;
}


p {
    color: slategray;
    font-style: italic;
}

img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    /* top, left, right, bottom, center */
    object-position: bottom center;
}

.text-color-green {
    color: green;
}

.background-color-yellow {
    background-color: yellow;
}

.background-color-black {
    background-color: black;
}

.background-color-new {
    background-color: #72bab2;
}

/* a {
    color: gray;
    text-decoration: none;
} */

/* h1 {
    font-weight: 200;
} */

/* a:hover {
    color: darkslategray;
} */

main,
footer {
    padding: 1rem;
}

header,
footer {
    /* font-size: 15px; */
}

header ul,
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a,
footer a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: lightgray;
}

#main-nav ul {
    display: flex;
    justify-content: flex-end;
}

#main-nav ul li.logo {
    margin-right: auto;
}

#main-nav ul li a {
    display: block;
    padding: 1rem;
    /* color: darkslategray; */
}

#main-nav a:hover {
    /* background-color: black; */
    /* color: white; */
}


/* MAIN AREA */
main {
    width: 90vw;
    min-width: 1080px;
    margin: 0 auto;
    /* font-weight: 100; */
}


/* FOOTER THINGS */
footer {
    border-top: 1px solid gray;
    /* color: burlywood; */
    display: grid;
    grid-template-columns: auto 1fr auto;

}

footer nav a {
    display: block;
}

#footer-center {
    text-align: center;
}

footer a {
    /* color: beige; */
}

footer a:hover {
    /* color: burlywood; */
}

#footer-nav {
    padding: 0 1rem;
}

#social-nav ul {
    display: flex;
    flex-flow: row nowrap;
    /* font-size: 24px; */
}

#social-nav li {
    padding-left: 1em;
}

